<!doctype html>
<html lang="en">
  <head>
    <script src="/scripts/htmx.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activiteiten</title>
  </head>
  <body>
    <div class="activities-container">
      <div class="activities-add">
        <form
          hx-post="/admin/activities/api/submit"
          hx-trigger="submit"
          hx-target=".activity-list"
          hx-swap="innerHTML"
        >
          <input type="text" name="titel" placeholder="Titel" required />
          <input type="text" name="bericht" placeholder="Bericht" required />
          <input
            type="datetime-local"
            name="datumTijd"
            placeholder="Datum"
            required
          />
          <input
            type="text"
            name="locatie"
            placeholder="Woerden, Waardsedijk 50"
            required
          />
          <button type="submit">Toevoegen</button>
        </form>
      </div>
      <div
        class="activity-list"
        hx-get="/admin/activities/api/get/all"
        hx-trigger="load"
        hx-swap="innerHTML"
      ></div>
    </div>
  </body>
</html>
