<!doctype html>
<html lang="en">
  <head>
    <script src="/scripts/htmx.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activiteiten</title>
    <style>
      .form-item {
        display: flex;
        flex-direction: column;
      }
      * {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <div class="activities-container">
      <div class="activities-add">
        <form
          hx-post="/admin/activities/api/submit"
          hx-trigger="submit"
          hx-target=".activity-list"
          hx-swap="innerHTML"
        >
          <div class="form-item">
            <label>Title</label>
            <input type="text" name="titel" placeholder="Titel" required />
          </div>
          <div class="form-item">
            <label>Bericht</label>
            <input type="text" name="bericht" placeholder="Bericht" required />
          </div>
          <div class="form-item">
            <label>Start Datum/Tijd</label>
            <input type="datetime-local" name="datumTijdStart" required />
          </div>
          <div class="form-item">
            <label>Eind Datum/Tijd</label>
            <input type="datetime-local" name="datumTijdEnd" required />
          </div>
          <div class="form-item">
            <label>Locatie</label>
            <input
              type="text"
              name="locatie"
              placeholder="Woerden, Waardsedijk 50"
              required
            />
          </div>
          <div class="form-item">
            <button type="submit">Toevoegen</button>
          </div>
        </form>
      </div>
      <div
        class="activity-list"
        hx-get="/admin/activities/api/get/all"
        hx-trigger="load"
        hx-swap="innerHTML"
      ></div>
    </div>
  </body>
</html>
